@import "tailwindcss";

@theme {
  --color-darkBlue: #006895;
  --color-cerulean: #0799ba;
  --color-lighTeal: #1fa5b0;
  --color-lightTanGray: #f6f5f2;
  --color-hotCoralPink: #f16b89;
  --color-coral: #f39e8f;
  --color-lightOrange: #f39f90;
  --color-perfectTeal: #74c8bc;
  --color-lightblue: #bce5e4;
  --color-lightTanGray: #f6f5f2;
  --color-electricPink: #f396ab;
  --color-brightSalmon: #fb9c94;
  --color-tangerine: #fbbfa2;
  --color-sweetMint: #ceddcf;
  --color-laguna: #7ad5d9;
  --color-summerTeal: #23dee5;
}

@theme {
  --font-manrope: "manrope", "sans-serif";
  --font-raleway: "raleway", "sans-serif";
  --font-boldRaleway: "boldRaleway", "sans-serif";
  --font-boldManrope: "boldManrope", "san-serif";
}
@font-face {
  font-family: manrope;
  src: url("./fonts/Manrope/static/Manrope-Light.ttf");
}

@font-face {
  font-family: raleway;
  src: url("./fonts/Raleway/static/Raleway-Light.ttf");
}
@font-face {
  font-family: boldRaleway;
  src: url("./fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
  font-family: boldManrope;
  src: url("./fonts/Manrope/static/Manrope-Bold.ttf");
}
